<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.unimelb.eng.navibee">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".NaviBeeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".EventActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventDetailActivity"
            android:parentActivityName=".EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventActivity" />
        </activity>
        <activity android:name=".SelectFriendsActivity" />
        <activity
            android:name=".SosActivity"
            android:label="@string/landing_sos">
        </activity>
        <activity
            android:name=".FriendActivity"
            android:label="@string/title_activity_friend" />
        <activity
            android:name=".navigation.DestinationsActivity"
            android:label="@string/landing_navigation">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SosSettingActivity"
            android:label="@string/sos_setting">
        </activity>
    </application>

</manifest>