<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="au.edu.unimelb.eng.navibee">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".NaviBeeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <!-- Metadata -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAP_API_KEY"/>

        <!-- Providers -->

        <provider android:name=".navigation.DestinationsSearchSuggestionsContentProvider"
            android:authorities="au.edu.unimelb.eng.navibee.navigation.DestinationsSearchSuggestionsContentProvider">
        </provider>

        <!-- Activities -->

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".EventActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventDetailActivity"
            android:parentActivityName=".EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventActivity" />
        </activity>

        <activity android:name=".EventSelectFriendsActivity" />
        <activity
            android:name=".SosActivity"
            android:label="@string/landing_sos"></activity>
        <activity
            android:name=".social.FriendActivity"
            android:label="@string/title_activity_friend" />


        <!-- Navigation -->

        <activity android:name=".navigation.DestinationsActivity"
            android:label="@string/landing_navigation"
            android:launchMode="singleTop">
            <meta-data android:name="android.app.default_searchable"
                android:value=".navigation.DestinationsSearchResultActivity" />
        </activity>
        <activity android:name=".navigation.DestinationsSearchResultActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.app.searchable"

                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity android:name=".navigation.LocationPermissionRequestActivity"
            android:theme="@style/AppTheme.Translucent"/>
        <activity android:name=".navigation.DestinationsVoiceSearchActivity"
            android:theme="@style/AppTheme.Translucent"/>



        <activity
            android:name=".social.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".social.AddFriendQRActivity"></activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"/>

        <activity android:name=".EventEditActivity"></activity>

        <activity
            android:name=".SosSettingActivity"
            android:label="@string/sos_setting">
        </activity>
    </application>

</manifest>
