<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="au.edu.unimelb.eng.navibee">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NaviBeeApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Specify requirement for Apache HTTP Legacy library -->
        <!-- https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- Services -->

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="false"
            android:label="NaviBeeHereMapService">
            <intent-filter>
                <action android:name="au.edu.unimelb.eng.navibee.hereService" />
            </intent-filter>
        </service>

        <!-- Metadata -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAP_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Providers -->

        <provider
            android:name=".navigation.DestinationsSearchSuggestionsContentProvider"
            android:authorities="${applicationId}.navigation.DestinationsSearchSuggestionsContentProvider" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <!-- Activities -->

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity android:name=".EventSelectFriendsActivity" />
        <activity
            android:name=".SosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".social.FriendActivity"
            android:label="@string/title_activity_friend" />

        <!-- Navigation -->

        <activity
            android:name=".navigation.DestinationsActivity"
            android:label="@string/landing_navigation"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".navigation.DestinationsSearchResultActivity" />
        </activity>
        <activity android:name=".navigation.DestinationsSearchResultActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigation.DestinationsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.LocationPermissionRequestActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".navigation.DestinationsVoiceSearchActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".navigation.DestinationDetailsActivity"
            android:parentActivityName=".navigation.DestinationsActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigation.DestinationsSearchResultActivity" />
        </activity>
        <activity
            android:name=".navigation.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".navigation.TransitNavigationActivity" />
        <activity
            android:name=".navigation.NavigationSelectorActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name=".social.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".social.AddFriendQRActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation" />
        <activity android:name=".EventEditActivity" />
        <activity
            android:name=".EventDetailsActivity"
            android:parentActivityName=".EventsActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".social.ChatImageViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".EventPicFullscreenActivity" />
        <activity
            android:name=".EventsActivity"
            android:label="@string/landing_events" />
        <activity
            android:name=".social.VoiceCallActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".social.CreateGroupChatActivity" />
        <activity android:name=".social.FriendDetail" />
        <activity android:name=".social.LocationDisplayActivity" />
    </application>

</manifest>